*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f8f4ef;
}

/* Header */

header{
    background:linear-gradient(to right,lightgreen,green);
    color:white;
    padding:18px;
    font-size:30px;
    font-weight:bold;
    position:fixed;
    top:0;
    width:100vh;
}

/* Hero */

.hero{
    background:linear-gradient(lightblue,blue);
    color:white;
    text-align:center;
    padding:80px 25px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
}

.hero h1{
    font-size:55px;
    margin-bottom:30px;
}

.hero p{
    font-size:22px;
    line-height:1.8;
}

/* Gallery */

.gallery{
    display:flex;
    gap:20px;
    justify-content:center;
    padding:40px 20px;
    flex-wrap:grid;
    grid-template-columns:repeat(1, 4fr);
}

.gallery img{
    width:200px;
    border-radius:25px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

/* Cards */

.tips{
    padding:20px;
}

.card{
    background:white;
    margin:30px auto;
    max-width:700px;
    padding:35px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 10px 20px rgba(0,0,0,.15);
}

.card h2{
    color:Black;
    margin-bottom:15px;
    font-size:32px;
}

.card p{
    font-size:22px;
    color:#444;
}

/* Footer */

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:40px;
    margin-top:40px;
}

footer h2{
    margin-bottom:10px;
}